@font-face {
    font-family: "Brandon Printed";
    src: url("../fonts/brandonPrinted/BrandonPrinted-One.eot");
    src: url("../fonts/brandonPrinted/BrandonPrinted-One.ttf");
    src: url("../fonts/brandonPrinted/BrandonPrinted-One.woff2");
}
